.footer {
  position: fixed;
  z-index: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 0 0 0;
  color: #fff;
  background: #1b1d1e;

  * {
    font-size: 14px;
    font-weight: 500;
  }

  .copyright {
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, .1);
  }
}